# 配置npm使用淘宝镜像（如果需要）
# registry=https://registry.npmmirror.com

# Electron镜像配置（electron-builder会使用）
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
ELECTRON_BUILDER_CACHE=./.electron-builder-cache
